{% extends 'base.html.twig' %}

{% block title %}Hello ProductoControlllerController!{% endblock %}

{% block body %}
 
<div class="alert alert-info" role="alert">
    <h4>Editar el producto</h4>
</div>

{{ form_start(form, {attr: {class: 'my-form-class'} }) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
