{% extends 'base.html.twig' %}

{% block title %} Productos {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
 
<div class="example-wrapper" id="productos">
 
    <h2>[[titulo]]</h2>

    <a href="{{ path('v_crear_producto') }}" class="btn btn-info btn-s"> Crear + </a> 

    {% if productos %}

        <table class="table table-stripped">
            
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio Costo</th>
                <th>Acciones</th>
            </tr>
       
        
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.id  }} </td>
                    <td>{{ producto.nombre }} </td> 
                    <td>{{ producto.getPrecioCosto() }} </td>
                    <td> <a href="" class="btn btn-primary"> Editar </a> 
                        <a href="" class="btn btn-danger"> Eliminar </a>
                    </td>
                </tr>
            {% endfor %}

        </table>
         
    {% endif %}

</div> 
 
 
{% endblock %}
