 
{# {{ root_path }} #}
{% set url = root_path ~ '/cosmeticos-symfony/public/uploads/imagenes/' %}

<style>
    .imagenpro 
    {   
        background-image: url("http://moronmakeuproom.com/moronmakeuproom.com/public/uploads/imagenes/sinfoto.jpg"); 
        background-repeat: no-repeat; 
        background-position: center;
        width:200px;
        height:200px; 
    }
</style>

<div class="example-wrapper" id="div_productos" >
      <table class="table table-stripped " id="productos">
            <thead>    
                <tr>
                    <th>Codigo</th> 
                    <th>Nombre</th>
                    <th style="width:180px"> </th>
                    <th><i class="fas fa-dollar-sign" data-toggle="tooltip" data-placement="top" title="Precio venta"></th>
                 </tr>
            </thead>
            <tbody>
            {% for producto in productos %}

                {% set imagen = url ~ producto.getImagen() | trim  %}
  
                <tr> 
                    <td class="text-left" >{{ producto.getNombre() }} </td> 
                    <td class="text-left" style="width:180px"> 
                        <img style="width:200px; height:200px"  src="{{ producto.getImagen() }}" alt="">                      
                    </td>
                    <td><span class="unidad">$</span> {{ producto.getPrecioVenta() }} </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
  

</div> 
 