{% extends 'base.html.twig' %}




{% block title %}Hello ProductoControlllerController!{% endblock %}

{% block body %}

<div id="vue-root">
    <datatable :columns="columns" :data="rows"></datatable>
</div>

{% endblock %}
