{% extends 'base-admin.html.twig' %}

{% block title %}Reportes de ventas{% endblock %}

{% block body %}
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

<div class="example-wrapper">

    <div class="row"> 
        <div class="col-lg 6">
            <div class="card ">
                <div class="card-header">
                    <h5 class="card-title">Ventas por dia </h5>
                </div>
                <div class="card-body">
                    <canvas id="cantVentasPorDia" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg 6">
            <div class="card ">
                <div class="card-header">
                    <h5 class="card-title">Productos vendidos </h5>
                </div>
                <div class="card-body">
                    <canvas id="cantProductosVendidos" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
         
    <div>  
</div>
    
    <script type="text/javascript" >

        
        
        // Ventas por dia 
        var vpd = document.getElementById('cantVentasPorDia').getContext('2d');
        var ventasPorDia = new Chart(vpd, {
                type: 'line',
                data: {
                    datasets: [{
                        data: {{ cantidad_ventas }},
                        label: 'Cantidad de ventas', 
                    } ],
                    labels: {{ fechas |raw }}  
                },
                options: {
                    scales: {
                        yAxes: [{
                            id: 'left-y-axis',
                            type: 'linear', 
                        } ]
                }
            }

        }); 

       
        // Productos vendidos
        var cpv = document.getElementById('cantProductosVendidos').getContext('2d');
        var myBarChart = new Chart(cpv, {
                type: 'horizontalBar',
                data: {
                labels: {{ productos |raw }},
                datasets: [
                    {  
                    data: {{ cantidad_productos }}
                    }
                ]
                },
                options: {
                legend: { display: false },
                title: {
                    display: false,
                    text: 'Predicted world population (millions) in 2050'
                }
                }
        });


    </script>

{% endblock %}
